html,
body {
  scrollbar-width: thin !important;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #00bcd4;
}

@media only screen and (max-width: 540px) {
  html,
  body {
    height: 90% !important;
  }
  #root {
    height: 90% !important;
  }
}
